<h2 class="content-block">Vie privée</h2>

<div class="content-block">
    <div class="dx-card responsive-paddings">
        <h5><span>Politique de confidentialité</span></h5>
        <p class="p-style"><span>Version du 03 septembre 2023</span></p>
        <p class="p-style"><span>Afin que vous puissiez utiliser le Service Caniactivity en toute confiance, la présente Politique de confidentialité vise à décrire de manière transparente quelles données sont traitées par Caniactivity, comment et pourquoi.</span></p>
        <p class="p-style"><span>Les termes commençant par une majuscule ont la définition qui leur est attribuée dans les Conditions Générales d’Utilisation.</span></p>

        <dx-accordion #accordion
                      [collapsible]="true"
                      [multiple]="false"
                      [animationDuration]="0"
                      id="accordion-container">
            <dxi-item title="Type de données collectées">
                Nous sommes susceptibles de collecter les données suivantes vous concernant :

                <dx-accordion #accordionArt2
                              [collapsible]="true"
                              [multiple]="false"
                              [animationDuration]="0"
                              id="accordion-container">
                    <dxi-item title="Les données que vous renseignez">
                        <p><span>Le caractère obligatoire ou facultatif des données que vous renseignez vous est signalé lors de leur collecte par une astérisque.</span></p>

                        <p><span><b>Création de Compte Utilisateur</b></span></p>
                        <p><span>Lorsque vous créez votre Compte Personnel, vous devez nous communiquer votre nom, prénom, adresse électronique et votre numéro de téléphone portable.</span></p>
                    </dxi-item>
                </dx-accordion>
            </dxi-item>
            <dxi-item title="Type de données collectées">
                Nous utilisons vos données pour les finalités suivantes :

                <dx-accordion #accordionArt2
                              [collapsible]="true"
                              [multiple]="false"
                              [animationDuration]="0"
                              id="accordion-container">
                    <dxi-item title="Utilisation de vos données sur la base de l'exécution du contrat">
                        <p><span>Sur la base de l’exécution du contrat qui nous lie, nous utilisons vos données pour vous fournir nos services, et notamment :</span></p>

                        <ul>
                            <li>assurer la création et la gestion de votre Compte Utilisateur</li>
                            <li>vous fournir notre service de prise de rendez-vous</li>
                        </ul>
                    </dxi-item>
                </dx-accordion>
            </dxi-item>
        </dx-accordion>
    </div>
</div>
