<ng-container *ngIf="!displayLoginForm(); else unauthenticated">
  <app-side-nav-outer-toolbar title="{{appInfo.title}}">
    <router-outlet></router-outlet>
    <app-footer>
        <div class="flex-container">
            <div class="flex-child">
                <div class="flex-label">A PROPOS DE CANIACTIVITY</div>

                <div>
                    <b>{{appInfo.title}}</b> administré par Aline BON.
                    <br />
                    <b>Ouverture</b>: Du lundi au vendredi <b>9h-11h, 17h-19h</b>. (Fermé les lundis et mercredis matin)<br />
                    Le samedi <b>9h-12h, 16h-19h</b>.<br />
                    Fermé le dimanche<br />
                    <b>Société gérée par Aline BON</b><br />
                    <b>Téléphone:</b> +33659104347<br />
                    <b>Email: </b><a href="mailto:caniactivity@gmail.com" style="color:#03a9f4; text-decoration:none;">caniactivity@gmail.com</a>
                </div>
            </div>
            <div class="flex-child">
                <div class="flex-label">INFORMATIONS LEGALES</div>
                <div>
                    <a routerLink='/pages/cgu'>Conditions générales d'utilisation</a>
                    <br />
                    <a routerLink='/pages/privacy'>Vie privée</a>
                </div>
            </div>
            <div class="flex-child">
                <div class="flex-label">Suivez nous sur</div>
                <div>
                    <span style="margin:10px">
                        <a href="https://instagram.com" title="instagram">
                            <img src="./assets/Templates/img/instagram.png" width="24" height="24">
                        </a>
                    </span>
                    <span style="margin:10px">
                        <a href="https://facebook.com" title="Facebook">
                            <img src="./assets/Templates/img/facebook.png" width="24" height="24">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #unauthenticated>
  <app-unauthenticated-content></app-unauthenticated-content>
</ng-template>
