<h2 class="content-block">Les activités</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <h6 class="content-block">Tunnel d’agility</h6>
        <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/tunnel1.jpeg" alt="tunnel" width="200" height="200"  />
            </div>
            <div class="flex-child">
                Se cacher pendant les courses-poursuites avec les copains, oser entrer et sortir d’un bout à l’autre
                avec un bruit constant sous les patounes, se sentir étriqué, prendre des décisions…
                Chaque chien aborde le tunnel à sa façon et en fonction de ses possibilités!
                On peut aussi modifier la position du tunnel en formant ou non des virages et donc oser la difficulté,
                voilà pourquoi le tunnel est un jeu sans fin!
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Palissade et passerelle d’agility</h6>
        <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/rampe3.jpeg" alt="rampe2" width="200" height="200" />
            </div>
            <div class="flex-child flex-child-first">
                Découvrir l’agility pour ceux qui n’ont jamais osé passer le cap avec leur loulou, gérer sa peur de la hauteur,
                découvrir un revêtement de sol peu commun, prendre confiance, partager un moment avec ses humains ou encore même de cacher!
            </div>
            <div class="flex-child-img">
                <img src="../../../assets/rampe4.jpeg" alt="rampe1" width="200" height="200" />
            </div>
        </div>
        <!-- <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/rampe2.jpg" alt="rampe2" />
            </div>
            <div class="flex-child">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div> -->
        <hr class="dashed">

        <h6 class="content-block">Les barres de sauts</h6>
        <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/saut.jpeg" alt="saut" width="200" height="200" />
            </div>
            <div class="flex-child">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Piscines à balles</h6>
        <div class="flex-container">
            <div class="flex-child flex-child-first">
                Sauter sauvagement ou entrer plus délicatement: chacun son choix!
                Marcher sur des centaines de balles permet de découvrir une fois de plus une sensation différente sous les patounes,
                pouvoir choisir une balle qui nous plait tant….ou encore faire de la recherche de friandises! Il y en a pour tout le monde!
            </div>
            <div class="flex-child-img">
                <img src="../../../assets/piscine.jpeg" alt="saut" width="200" height="200" />
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Le trampoline</h6>
        <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/trampoline.jpeg" alt="trampoline" width="200" height="200" />
            </div>
            <div class="flex-child">
                Qui a dit qu’un trampoline était réservé aux enfants?
                Moment de partage avec son humain, le trampoline est un excellent renforçateur de confiance dans ce joli duo.
                Faire ensemble un agrès, découvrir des sensations uniques, souvent source de peur car méconnu des 4 pattes,
                cela permet de créer un fort échange dans un moment de découverte ultime!
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Pyramides de pneus</h6>
        <div class="flex-container">
            <div class="flex-child flex-child-first">
                Pyramides de pneus pour petits et grands gabarits: permet d’appréhender la vie avec un peu de hauteur,
                apprendre à descendre et monter, se cacher, se prendre pour le roi de la jungle… à chacun son utilisation!
            </div>
            <div class="flex-child-img">
                <img src="../../../assets/pyramide.jpeg" alt="pneu" width="200" height="200" />
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Les pneus au sol</h6>
        <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/pneu.jpeg" alt="pneu" width="200" height="200" />
            </div>
            <div class="flex-child">
                Dedans, autour, sauter, marcher…. A chacun son utilisation!
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Les troncs</h6>
        <div class="flex-container">
            <div class="flex-child flex-child-first">
                Passer d’un tronc à l’autre, sauter, faire la pose pour les photos, laisser son humain se reposer qq minutes… à eux de choisir!
            </div>
            <div class="flex-child-img">
                <img src="../../../assets/pneu.jpg" alt="pneu" width="200" height="200" />
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">La caisse à jouet</h6>
        <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/pneu.jpg" alt="pneu" width="200" height="200" />
            </div>
            <div class="flex-child">
                Une caisse de jouets est à disposition pour les accros aux « pouetspouets », aux balles, aux cordes et j’en passe.
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Tunnel sensoriel</h6>
        <div class="flex-container">
            <div class="flex-child flex-child-first">
                Pour les plus jeunes ou pour les adultes plus peureux: le défi, ici, est de passer à travers les rideaux créés spécialement pour des découvertes de bruits, de formes et affronter ses peurs en duo avec son humain!
                Au sol, on retrouve également des revêtements différents à passer.
            </div>
            <div class="flex-child-img">
                <img src="../../../assets/tunnel_sensoriel.jpeg" alt="pneu" width="200" height="200" />
            </div>
        </div>
    </div>
</div>
