<h2 class="content-block">Les activités</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <h6 class="content-block">Le tunnel</h6>
        <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/tunnel.jpg" alt="tunnel" />
            </div>
            <div class="flex-child">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Les rampes</h6>
        <div class="flex-container">
            <div class="flex-child flex-child-first">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="flex-child-img">
                <img src="../../../assets/rampe1.jpg" alt="rampe1" />
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/rampe2.jpg" alt="rampe2" />
            </div>
            <div class="flex-child">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Les barres de sauts</h6>
        <div class="flex-container">
            <div class="flex-child flex-child-first">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="flex-child-img">
                <img src="../../../assets/saut.jpg" alt="saut" />
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Le trampoline</h6>
        <div class="flex-container">
            <div class="flex-child-img flex-child-first">
                <img src="../../../assets/trampoline.jpg" alt="trampoline" />
            </div>
            <div class="flex-child">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <hr class="dashed">

        <h6 class="content-block">Les pneus</h6>
        <div class="flex-container">
            <div class="flex-child flex-child-first">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="flex-child-img">
                <img src="../../../assets/pneu.jpg" alt="pneu" />
            </div>
        </div>
    </div>
</div>
