<h2 class="content-block">Conditions générales d'utilisation</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div>
            <h5><span>Mentions légales</span></h5>
            <p class="p-style"><span>Le Site caniactivity.fr est édité par Caniactivity</span></p>
            <p class="p-style"><span>Forme sociale : TODO</span></p>
            <p class="p-style"><span>??? Immatriculation au registre du commerce et des sociétés : Paris - 521 724 336. ???</span></p>
            <p class="p-style"><span>Numéro de SIRET : TODO</span></p>
            <p class="p-style"><span>Siège social : xx Chemin des littes - lieu dit la fulie - 42380 Périgneux.</span></p>
            <p class="p-style"><span>Directrice de Publication : Madame Aline BON.</span></p>
            <p class="p-style"><span>Hébergeur du Site et des Applications : société Ikoula - 2 Cité Paradis - 75010 Paris - FRANCE</span></p>
            <p class="p-style"><span>Localisation de l’hébergement des données du Site et des Applications : Europe</span></p>

            <h5><span>Conditions générales d'utilisation du Site et du Service Caniactivity</span></h5>
            <p>L'accès, la consultation et l'utilisation du Site caniactivity.fr et du Service caniactivity sont subordonnés à l'acceptation sans réserve des présentes Conditions Générales d'Utilisation.</p>
        </div>
        <div id="accordion">
            <dx-accordion #accordion
                          [collapsible]="true"
                          [multiple]="false"
                          [animationDuration]="0"
                          id="accordion-container">
                <dxi-item title="Définition">
                    <p><span>Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales d'Utilisation du Site caniactivity.fr et du Service Caniactivity (ci-après dénommées les " CGU ") la signification suivante :</span></p>
                    <p><span><b>Membre :</b> désigne toute personne physique majeure titulaire d’un Compte Utilisateur qui procède, depuis le planing, à la demande de prise d'un rendez-vous.</span></p>
                    <p><span><b>Rendez-vous :</b> désigne un créneau horaire sélectionné par un membre dans une plage de temps autorisée.</span></p>
                    <p><span><b>Compte Utilisateur :</b> désigne l'espace accessible depuis le Site Internet, que tout Utilisateur doit se créer afin d’utiliser le Service Caniactivity, à savoir :</span></p>
                    <p><span><b>Compte Personnel :</b> désigne l'espace gratuit, accessible depuis le Site Internet, que tout Utilisateur Particulier doit se créer afin d’utiliser le Service Caniactivity, et à partir duquel il peut notamment, en tant que membre, effectuer une demande de rendez-vous.</span></p>
                    <p><span><b>Notifications : </b>désigne les notifications reçues par les Membres dans le cadre du Service Caniactivity dans les cas définis à l’article 2.2 des présentes CGU. Les Notifications sont uniquement accessibles aux Membres disposant d’un Compte Utilisateur depuis l’Application.</span></p>
                    <p><span><b>Service Caniactivity : </b>désigne le service logué et personnalisé de planification des rendez-vous dont les fonctionnalités sont décrites à l'article 2.2 des présentes CGU mis à la disposition des Membres accessible via le Site Internet caniactivity.fr.</span></p>
                    <p><span><b>Site : </b>désigne le site internet exploité par Caniactivity accessible principalement depuis l'URL caniactivity.fr et permettant aux Membres d'accéder à certaines fonctionnalités de base décrites à l’article 2.1 des présentes CGU et aux Membres connectés à leur Compter Personnel d’accéder et utiliser le Service Caniactivity décrit à l'article 2.2 des présentes CGU.</span></p>
                    <p><span><b>Utilisateur : </b>désigne toute personne utilisant le Site et/ou le Service Caniactivity.</span></p>
                </dxi-item>
                <dxi-item title="Article 1 - Objet - acceptation">
                    <p><span>Les CGU ont pour objet de déterminer les conditions d'utilisation (i) du Site et du Service Caniactivity mis à disposition des Utilisateurs.</span></p>
                    <p><span>Tout Utilisateur accédant et consultant le Site et tout Membre utilisant le Service Caniactivity déclare avoir pris connaissance des présentes Conditions Générales d’Utilisation et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit. Les présentes CGU sont donc pleinement opposables aux Utilisateurs, et aux Membres.</span></p>
                    <p><span>Tout traitement de données personnelles dans le cadre des présentes est soumis aux dispositions de notre politique de confidentialité, qui fait partie intégrante des présentes CGU.</span></p>
                </dxi-item>
                <dxi-item title="Article 2 - Description du Site et du service Canicativity">
                    <dx-accordion #accordionArt2
                                  [collapsible]="true"
                                  [multiple]="false"
                                  [animationDuration]="0"
                                  id="accordion-container">
                        <dxi-item title="2.1 - Fonctionnalités du site">
                            <p><span>Le Site caniactivity.fr est accessible à tout Utilisateur. En l’absence de Compte Personnel, les Utilisateurs peuvent depuis le Site et les Applications :</span></p>
                            <p><span>consulter la déscription du parc, les activités proposées ainsi que les photos.</span></p>
                            <p><span>consulter les tarifs en vigueur.</span></p>
                            <p><span>consulter les partenaires de Caniactivity.</span></p>
                        </dxi-item>
                        <dxi-item title="2.2 - Fonctionnalités du service Caniactivity">
                            <p><span>Le Service Caniactivity, accessible via le Site Internet caniactivity.fr, est un service logué, personnalisé, de prise de rendez-vous.</span></p>
                            <p><span>L'utilisation du Service Caniactivity nécessite la création préalable d'un Compte Personnel par l'Utilisateur et que celui-ci s'y connecte lors de son accès au Site.</span></p>
                            <p><span>Le Service Caniactivity inclut les fonctionnalités décrites dans l’article 2.1 et les fonctionnalités décrites ci-après :</span></p>

                            <br />
                            Depuis la page de planning :

                            <ul>
                                <li>effectuer une demande rendez-vous dans les plages horaires disponibles</li>
                                <li>modifier ou supprimer un rendez-vous précédemment effectué dès lors que ce dernier n'a pas été validé</li>
                                <li>modifier à tous moment ses chiens inscrit sur un rendez-vous</li>
                            </ul>

                            Depuis la page Profil :

                            <ul>
                                <li>modifier le nom et le prénom du compte</li>
                                <li>supprimer le compte</li>
                                <li>Enregistrer ou supprimer les chiens associés</li>
                                <li>modifier le nom et la race de vos chiens</li>
                            </ul>

                        </dxi-item>
                    </dx-accordion>
                </dxi-item>
                <dxi-item title="Article 3 - Utilisation du Service de prise de rendez-vous">
                    <p><span>Caniactivity mets à disposition le service de prise de rendez-vous ouvert au titulaire d'un compte Personnel et ayant été approuvé
                    l'administrateur</span></p>
                </dxi-item>
                <dxi-item title="Article 4 - Stipulations diverses">
                    <dx-accordion #accordionArt2
                                  [collapsible]="true"
                                  [multiple]="false"
                                  [animationDuration]="0"
                                  id="accordion-container">
                        <dxi-item title="4.1 - Fonctionnalités du site">
                            <p>
                                <span>
                                    Caniactivity se réserve la possibilité de modifier, à tout moment, en tout ou partie des CGU.
                                    Les Utilisateurs sont invités à consulter régulièrement les présentes CGU afin de prendre connaissance de changements éventuels effectués.
                                    L'Utilisation du Site par les Utilisateurs constitue l'acceptation par ces derniers des modifications apportées aux CGU.
                                </span>
                            </p>
                        </dxi-item>
                        <dxi-item title="4.2 - Fonctionnalités du site">
                            <p>
                                <span>
                                    Si une partie des CGU devait s'avérer illégale, invalide ou inapplicable, pour quelque raison que ce soit, les dispositions en question seraient réputées non écrites,
                                    sans remettre en cause la validité des autres dispositions qui continueront de s'appliquer entre les Utilisateurs et Caniactivity.
                                </span>
                            </p>
                        </dxi-item>
                    </dx-accordion>
                </dxi-item>
            </dx-accordion>
        </div>
    </div>
</div>
