<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: #03A9F42D">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Caniactivity: Parc de loisir canin</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="70" align="left" valign="middle"></td>
                    </tr>
                   <!--  <tr>
                        <td align="left" valign="top"><img src="http://localhost:2131/Templates/EmailTemplate/images/top.png" width="600" height="13" style="display:block;"></td>
                    </tr> -->
                    <tr>
                        <td align="left" valign="top" bgcolor="#03a9f4" style="background-color:#03a9f4; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                            <div style="font-size:36px; color:#ffffff;">
                                <b>{0}</b>
                            </div>
                            <div style="font-size:13px; color:#a29881;">
                                <b>{1}</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding:10px; color:#03a9f4; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                        Votre rendez-vous a été modifié
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="40%" align="center" valign="middle" style="padding:10px;">
                                        <!-- <img src="http://localhost:2131/Templates/EmailTemplate/images/divider.gif" width="566" height="30">   -->
                                        <img src="http://localhost:4200/Templates/img/caniactivity.jpg" width="169" height="187" style="display:block">
                                    </td>
                                    <td align="left" valign="middle" style="color:#525252; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <div style="font-size:16px;">
                                            Mr/Mme {2},
                                        </div>
                                        <div style="font-size:12px;">
                                            Votre modification a correctement été enregistrée.
                                            <p>
                                                Votre modification est enregistré mais pas encore confirmé.
                                                Vous serez informé par mail de la validation de la session.
                                                Tant que votre rendez-vous n'est pas confirmé, vous avez la posssibilité de le déplacer ou de le supprimer.
                                            </p>

                                            <p>
                                                Une fois validé, il ne vous sera plus possible de le modifier mais vous aurez toujours la possiblité de désinscrire vos
                                                chiens du créneau.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding:5px;">
                                        <hr />
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:20px; color:#03a9f4;">
                                            <b>Résumé de la session</b>
                                        </div>
                                        <div style="font-size:16px; color:#525252;">
                                            <b>Date             :</b> {3}
                                            <br />
                                            <b>Chien(s) inscrit :</b> {4}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
                            <tr>
                                <td align="left" valign="middle" style="padding:15px; background-color:#03a9f4; font-family:Arial, Helvetica, sans-serif;">
                                    <div style="font-size:20px; color:#fff;">
                                        <b>Update your password now.</b>
                                    </div>
                                    <div style="font-size:13px; color:#ffe77b;">
                                        Weak passwords get stolen and lead to hacked accounts. Celebrate World Password Day with a new, strong password.
                                        <br>
                                        <br>
                                        <a href="#" style="color:#ffe77b; text-decoration:underline;">CLICK HERE</a> TO CHANGE PASSOWORD
                                    </div>
                                </td>
                            </tr>
                        </table>   -->
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" align="left" valign="middle" style="padding:10px;">
                                        <table width="75%" border="0" cellspacing="0" cellpadding="4">
                                            <tr>
                                                <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;">
                                                    <b>Suivez nous sur</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                           <!--  <td width="33%" align="left" valign="middle">
                                                                <a href="https://twitter.com" title="Facebook">
                                                                    <img src="http://localhost:2131/Templates/EmailTemplate/images/tweet48.png" width="48" height="48">
                                                                </a>
                                                            </td> -->
                                                            <td width="50%" align="left" valign="middle">
                                                                <a href="https://instagram.com" title="instagram">
                                                                    <img src="http://localhost:4200/Templates/img/instagram.jpg" width="48" height="48">
                                                                </a>
                                                            </td>
                                                            <td width="50%" align="left" valign="middle">
                                                                <a href="https://facebook.com" title="Facebook">
                                                                    <img src="http://localhost:4200/Templates/img/facebook.png" width="48" height="48">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="50%" align="left" valign="middle" style="color:#03a9f4; font-size:11px; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <b>Caniactivity: Parc de loisir canin</b><br />
                                        <b>Ouverture</b>: Du lundi au samedi 9h-12h, 14h-18h. Fermé le dimanche<br />
                                        <b>Société gérée par Aline BON</b><br />
                                        <b>Téléphone:</b> +33xxxxxxxxx<br />
                                        <b>Email: </b><a href="mailto:caniactivity@gmail.com" style="color:#03a9f4; text-decoration:none;">caniactivity@gmail.com</a>
                                     </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td align="left" valign="top"><img src="http://localhost:2131/Templates/EmailTemplate/images/bot.png" width="600" height="37" style="display:block;"></td>
                    </tr> -->
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>   