<h2 class="content-block">Créneaux</h2>
<div class="content-block">
    <dx-scheduler [dataSource]="appointmentsData"
                  timeZone="Europe/Paris"
                  [views]="views"
                  [currentView]="currentView"
                  [firstDayOfWeek]="1"
                  [startDayHour]="9"
                  [endDayHour]="20"
                  [currentDate]="currentDate"
                  [showAllDayPanel]="false"
                  dataCellTemplate="dataCellTemplate"
                  timeCellTemplate="timeCellTemplate"
                  appointmentTemplate="appointment-template"
                  appointmentTooltipTemplate="tooltip-template"
                  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
                  (onAppointmentAdding)="onAppointmentAdding($event)"
                  (onAppointmentUpdating)="onAppointmentUpdating($event)"
                  (onOptionChanged)="onOptionChanged($event)"
                  [height]="800">
        <dxi-resource fieldExpr="status"
                      label="Etat"
                      [dataSource]="statuses"
                      [useColorAsDefault]="true">
        </dxi-resource>

        <div *dxTemplate="let model of 'appointment-template'">
            <div class="showtime-preview">
                <div *ngIf="model.targetedAppointmentData.status == 0">En attente de validation</div>
                <div *ngIf="model.targetedAppointmentData.status == 1">Validé</div>
                <div>{{ model.targetedAppointmentData.dogs.length }} chien(s)</div>
            </div>
        </div>

        <div *dxTemplate="let model of 'tooltip-template'">
            <div (click)="stopPropagation($event)">
                <dx-box direction="row" width="100%">
                    <dxi-item class="rect demo-dark" [ratio]="1"><div>{{ model.targetedAppointmentData.dogs.length }} chien(s)</div></dxi-item>
                </dx-box>

                <dx-box direction="row" width="100%">
                    <dxi-item class="rect demo-dark" [ratio]="2">
                        <ul>
                            <li *ngFor="let dog of model.targetedAppointmentData.dogs">{{ dog.name }} (<span *ngIf="dog.handler">{{ dog.breed }}</span>)</li>
                        </ul>
                    </dxi-item>
                    <dxi-item class="rect demo-dark" [ratio]="1">
                        <dx-box direction="column" width="100%">
                            <dxi-item class="rect demo-dark" [ratio]="1">
                                <dx-button icon="check"
                                           *ngIf="isAdmin"
                                           (onClick)="validate($event, model.targetedAppointmentData)">
                                </dx-button>
                            </dxi-item>
                            <dxi-item class="rect demo-dark" [ratio]="1">
                                <dx-button icon="trash"
                                           [disabled]="!canDelete(model.targetedAppointmentData)"
                                           (onClick)="remove($event, model.targetedAppointmentData)">
                                </dx-button>
                            </dxi-item>
                            <dxi-item class="rect demo-dark" [ratio]="1">
                                <dx-button icon="edit"
                                           (onClick)="edit($event, model.targetedAppointmentData)">
                                </dx-button>
                            </dxi-item>
                        </dx-box>
                    </dxi-item>
                </dx-box>
            </div>
        </div>

        <div *dxTemplate="let dataCell of 'dataCellTemplate'"
             [ngClass]="{
              'disable-date': isDisableDate(dataCell.startDate),
              dinner:
                !isDisableDate(dataCell.startDate) && isDinner(dataCell.startDate),
              'dx-scheduler-date-table-cell-text': isMonthView()
            }">
            {{ isMonthView() ? dataCell.startDate.getDate() : "" }}
        </div>

        <div *dxTemplate="let dateCell of 'dateCellTemplate'"
             [ngClass]="{ 'disable-date': isDisabledDateCell(dateCell.date) }">
            {{ dateCell.text }}
        </div>

        <div *dxTemplate="let timeCell of 'timeCellTemplate'"
             [ngClass]="{ dinner: isDinner(timeCell.date) }">
            {{ timeCell.text }}
            <div *ngIf="hasCoffeeCupIcon(timeCell.date)" class="cafe"></div>
        </div>
    </dx-scheduler>
</div>
