IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

@media (max-width: 800px) {
  IMG.displayed {
    aspect-ratio: 3/2 auto;
    width: 100%;
  }
}

.text {
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
}
