<!-- <h2 class="content-block">Accueil</h2> -->
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div class="logos-container">
            <img src="assets/caniactivity.jpg" style="border-radius: 120px" />
        </div>

        <h4 class="content-block">Caniactivity : Votre parc de loisir dédié pour vos loulou</h4>
        <p>
            Cani activity est un parc de loisir unique dans la Loire pour nos meilleurs amis les chiens!
            Enfin un espace juste pour eux!
            <br />
            Jeux, socialisation, sociabilisation, apprentissage des codes canins, partage tant entre chiens, qu’entre maîtres, dépense mentale et physique…
            Tout y est réuni afin que les loulous passent un super moment.
            <br />
            La laisse? La longe? Interdites!
            Le parc est clôturé afin que les chiens s’expriment pleinement et aient toute la liberté qui leur est refusée dans tant d’autres lieux!
        </p>

        <h5 class="content-block">Un mot de la créatrice</h5>
        <figure>
            <blockquote>
                <p>
                    Passionnée de chiens depuis toujours, j’ai créé et je gère ce parc.
                    Je suis formée à l’éducation et au comportement canins.
                    J’ai choisi un parc à l’esprit familial, il ne s’agit pas d’un énorme parc de loisir canin comme on peut en trouver quelques uns en France.
                    Ici, les créneaux de jeux ne rassemblent jamais plus de 10 chiens en même temps! Le but étant que chaque chien trouve sa place dans le groupe, que les tempéraments s’accordent etc
                    Le parc n’est donc pas en accès libre mais il faut passer un test socia avant de devenir membre, pour ensuite s’inscrire en créneaux avec les copains.
                    Toutes les précautions sont prises pour éviter d’éventuels conflits, mais n’oublions pas qu’il s’agit d’êtres vivants et que tout comme nous, ils ont leurs jours, leurs humeurs….
                    Je suis extrêmement heureuse de l’accueil que mon parc a reçu depuis l’ouverture en mai dernier !! Merci à tous!
                    Plus qu’un parc…..on devient une grande famille. N’hésitez pas à nous rejoindre!
                </p>
            </blockquote>
            <figcaption>
                <span>Aline BON</span>
            </figcaption>
        </figure>
        <!--  <ul>
        <li><a routerLink='/pages/environment'>L'environnement</a></li>
        <li><a routerLink='/pages/activities'>Nos activités</a></li>
        <li><a routerLink='/pages/tarifs'>Les tarifs</a></li>
    </ul> -->
        <!-- <h4 class="content-block">Des sessions d'agility pour tous</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p> -->
        <!-- <p>Thanks for using the DevExtreme Angular App Template.</p>
    <p>
        This application was built using  <a href="https://cli.angular.io/" target="_blank" rel="noopener noreferrer">Angular CLI</a>
        and <a href="https://js.devexpress.com/Documentation/Guide/Common/DevExtreme_CLI/" target="_blank" rel="noopener noreferrer">DevExtreme CLI</a>
        and includes the following DevExtreme components:
    </p>
    <ul>
        <li><a href="https://js.devexpress.com/Documentation/Guide/UI_Components/DataGrid/Getting_Started_with_DataGrid/" target="_blank" rel="noopener noreferrer">DataGrid</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Widgets/Form/Overview/" target="_blank" rel="noopener noreferrer">Form</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Widgets/Drawer/Getting_Started_with_Navigation_Drawer/" target="_blank" rel="noopener noreferrer">Drawer</a></li>
    </ul>

    <p>To customize your DevExtreme Angular application further, please refer to the following help topics:</p>

    <ul>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Angular_Components/Application_Template/#Layouts" target="_blank" rel="noopener noreferrer">Layouts</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Angular_Components/Application_Template/#Add_a_New_View" target="_blank" rel="noopener noreferrer">Add a New View</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Angular_Components/Application_Template/#Configure_the_Navigation_Menu" target="_blank" rel="noopener noreferrer">Configure the Navigation Menu</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Angular_Components/Application_Template/#Configure_Themes" target="_blank" rel="noopener noreferrer">Configure Themes</a></li>
    </ul>

    <p>
        For technical content related to DevExtreme Angular components, feel free to explore
        our <a href="https://js.devexpress.com/documentation/" target="_blank" rel="noopener noreferrer">online documentation</a>
        and <a href="https://js.devexpress.com/Demos/Widgetsgallery/" target="_blank" rel="noopener noreferrer">technical demos</a>.
    </p> -->
    </div>
</div>
