<!-- <h2 class="content-block">Accueil</h2> -->
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div class="logos-container">
            <img src="assets/caniactivity.jpg" style="border-radius: 120px" />
        </div>

        <h4 class="content-block">Qu'est ce que CaniActivity ?</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h4 class="content-block">Les services proposés par CaniActivity</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <ul>
                <li><a href="" rel="noopener noreferrer">L'environnement</a></li>
                <li><a href="" rel="noopener noreferrer">Nos activités</a></li>
            </ul>

        <h4 class="content-block">Des sessions d'agility pour tous</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <!-- <p>Thanks for using the DevExtreme Angular App Template.</p>
    <p>
        This application was built using  <a href="https://cli.angular.io/" target="_blank" rel="noopener noreferrer">Angular CLI</a>
        and <a href="https://js.devexpress.com/Documentation/Guide/Common/DevExtreme_CLI/" target="_blank" rel="noopener noreferrer">DevExtreme CLI</a>
        and includes the following DevExtreme components:
    </p>
    <ul>
        <li><a href="https://js.devexpress.com/Documentation/Guide/UI_Components/DataGrid/Getting_Started_with_DataGrid/" target="_blank" rel="noopener noreferrer">DataGrid</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Widgets/Form/Overview/" target="_blank" rel="noopener noreferrer">Form</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Widgets/Drawer/Getting_Started_with_Navigation_Drawer/" target="_blank" rel="noopener noreferrer">Drawer</a></li>
    </ul>

    <p>To customize your DevExtreme Angular application further, please refer to the following help topics:</p>

    <ul>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Angular_Components/Application_Template/#Layouts" target="_blank" rel="noopener noreferrer">Layouts</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Angular_Components/Application_Template/#Add_a_New_View" target="_blank" rel="noopener noreferrer">Add a New View</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Angular_Components/Application_Template/#Configure_the_Navigation_Menu" target="_blank" rel="noopener noreferrer">Configure the Navigation Menu</a></li>
        <li><a href="https://js.devexpress.com/Documentation/Guide/Angular_Components/Application_Template/#Configure_Themes" target="_blank" rel="noopener noreferrer">Configure Themes</a></li>
    </ul>

    <p>
        For technical content related to DevExtreme Angular components, feel free to explore
        our <a href="https://js.devexpress.com/documentation/" target="_blank" rel="noopener noreferrer">online documentation</a>
        and <a href="https://js.devexpress.com/Demos/Widgetsgallery/" target="_blank" rel="noopener noreferrer">technical demos</a>.
    </p> -->
    </div>
</div>
